@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');

$color-font: #fff;
$text-font:'Titillium Web', sans-serif;
$subcolor-font: #3c4f5e;
$p-font: 1.5rem;


* {
	box-sizing: border-box;
}
html {
  	height: 100%;
  	font-size: 10px;
}
body {
	font: 300 1.8rem/1.4 $text-font;
	height: 100%;
	color: $color-font;
	overflow-x: hidden;    
}
.section {	
	// background: #0c142a;
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	position: relative;
	&__img {
		background-size: contain;
	}
	&--padding {
		padding: 10rem 0;
		@media screen and (max-width: 768px){
			padding: 5rem 0;
		}
	}
	&--gray {
		background: #f3f6f9;
	}
	&__footer {
		background: linear-gradient(to right, #0067b5, #06a6df);
		padding: 25px 0;
	}
}

//Header 
.nav-link {
	padding: 10px 20px;
	@media screen and (max-width: 1366px){
			font-size: 1.4rem;
			padding: 5px !important;
	}
	@media screen and (max-width: 1024px){
			font-size: 1.2rem;
			padding: 10px !important;
	}

}
.head-link {
	border-radius: 2px;
	
	&--blue {
		background: linear-gradient(to right, #0067b5, #06a6df);
		padding: 10px 20px;
	}
	&--yellow {
		background: #ccdb39;
		color: $subcolor-font;

	}
}
.nav-item {
	margin-left: 2rem;
	@media screen and (max-width: 1024px){
			padding: 0;
			margin: 0;

	}
	@media screen and (max-width: 1024px){
			background: rgba(0, 103, 181, 0.9);

	}
}
.globus {
	fill: rgb(255, 255, 255);
	stroke: rgb(255, 255, 255);
}
.globus-blue {
	fill:rgb(2, 169, 243);
	stroke:rgb(2, 169, 243);
}
//Dropdown users setting

.dropdown-user {
	min-width: 3rem;
	background: transparent;
	&__link {
		color: $color-font;
		font-size: 1.3rem;
		font-weight: 300;
	}
}


//First section

.dark-phone {
	background: rgba(12,20,42, 0.6);
}
.first {
	text-align: center;
	&__title {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 6.6rem;
		font-weight: 700;
		padding: 1rem 0;
		@media screen and (max-width: 1366px){
			font-size: 5rem;
		}
		@media screen and (max-width: 768px){
			font-size: 3rem;
		}
		@media screen and (max-height:400px){
			font-size: 2rem;
		}


	}
	&__subtitle {
		font-size: 2.8rem;
		padding: 1rem 0;
		@media screen and (max-width: 1366px){
			font-size: 1.8rem;
			padding: 0.5rem 0;
		}
		@media screen and (max-width: 768px){
			font-size: 1.4rem;
			padding: 0.5rem 0;
		}
		@media screen and (max-width: 576px){
			font-size: 0rem;
		}
		@media screen and (max-height:400px){
			padding: 0;
			font-size: 1.3rem;
		}



		&--weight600 {
			padding: 1rem 0;
			font-weight: 600;
			@media screen and (max-width: 1366px){
			padding: 0;
			@media screen and (max-width: 576px){
			font-size: 1.4rem;
		}
		}
		}
	}
}
.form-first {
	padding: 0px 10px !important;
	&__size{
		padding: 30px 20px;
		font-size: 1.8rem;
		@media screen and (max-width: 1366px){
			font-size: 1.8rem;
			padding: 20px 20px;
		}

	}
	&__btn {
		line-height: 1;
		padding: 20px 0;
		height: 62px;
		border-radius: 2px;
		font-size: 1.8rem;
		@media screen and (max-width: 1366px){
			height: 42px;
			padding: 12px			
		}

	}
}
.clients {
	background: #f3f6f9;
	padding: 10px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	@media screen and (max-width: 1366px){
		padding: 5px 20px;
	}
	@media screen and (max-height:400px){
		padding: 0px 20px;
	}
}
.vertical-social {
		position: absolute;
		left: -5%;
		top: 47%;
		display: flex;
		// flex-direction: column;
		transform: rotate(-90deg);
		font-weight: 300;
		opacity: 0.5;
		@media screen and (max-width: 1300px){
			display: none;
		}
		& li {
			transform:rotate(90deg);
			text-align: center;
		}

	&__title {
		color: $color-font;
		font-weight: 300;
		margin-right: 100px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			right: -80px;
			top: 15px;
			width: 70px;
			height: 1px;
			display: inline-block;
			background: $color-font;
		}

	}
	&__icons {
		// transform: rotate(-90deg);
		color: $color-font;
		font-weight: 300;
		padding-right: 30px;

	}
}
.icon-hover {
	transition: all .2s linear;
	&:hover,
	&:focus {
	color: rgb(0, 103, 181);
	}
}

.scroll-down {
	position: absolute;
	right: 0%;
	top: 53%;
	display: flex;
	// justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
	opacity: 0.5;
	&:hover {
			color: rgb(0, 103, 181);
	text-decoration: none;
	}
	@media screen and (max-width: 1300px){
		display: none;
	}
	

	&__title {
		font-weight: 300;
		transition: all .2s linear;
	}
	&__arrow {
		margin-right: 40px;
		transform: rotate(90deg);

	}
}

//Modal

.modalSend {
	position: relative;
	border-radius: 10px;
	// height: 400px;
	z-index: 0;
	text-align: center;
	padding: 50px 0;
	@media screen and (max-width: 768px){
			width: 300px;
			margin: 0 auto;
		}

	&__list {

		// margin: 0 auto;
		// position: absolute;
		// top: 20%;
		// left: 50%;
		// transform: translate(-50%,0);
	}
	&__text {
		color: $subcolor-font;
		font-size: 4.6rem;
		padding: 10px 100px;
		@media screen and (max-width: 768px){
			font-size: 2rem;
			padding: 10px 50px;
		}
	}
	&__cross {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $color-font;
		border: none;
		position: absolute;
		top: -15px;
		right: -15px;
		cursor: pointer;
		z-index: 100;
		transform: scale(1);
		transition: all .3s linear;
		box-shadow: -3px 7px 10px 0px rgba(0,0,0,0.2);
		&:hover,
		&:focus {
			transform: scale(1.2);
		}
	}
}


//Cookie

.cookie {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 50px 0;
	background: linear-gradient(to top, rgba(0, 103, 181, 0.9), rgba(6, 166, 223, 0.9));
	
	&__title {
		font-size: 2.8rem;
		font-weight: 600;
		padding-bottom: 20px;
	}
	&__btn {
		background: $color-font; 
		color: $subcolor-font;
		line-height: 1;
		padding: 0;
		height: 62px;
		border-radius: 2px;
		font-size: 1.8rem;
		padding: 0 40px;
		cursor: pointer;
		margin-top: 40px;
		&:hover,
		&:focus {
			opacity: 0.8;
		}
		@media screen and (max-width: 1366px){
			height: 42px;
		}
	}
}

//Section-key

.key {
	text-align: center;
	padding: 30px 30px;
	&__img {
		margin-bottom: 30px;
		&--big {
			margin-top: 30px;
		}
	}
	&__shape {
		// display: inline-block;
			position: relative;
		&--position {
			&:before {
				content: '';
				display: inline-block;
				width: 72px;
				height: 30px;
				background: #000;
				position: absolute;
				top: 0;
				left: 0;
				
				// transform: translate(-50%, -50%);
			}
		}
	}
	&__article {
		color: $subcolor-font;
		text-align: center;
		line-height: 1.8;
		padding: 15px 0;
		&--left {
			text-align: left;
		}

	}
	//title for section WhyUs
	&__title {
		color: $subcolor-font;
		font-size: 2.8rem;
		font-weight: 600;
		padding: 20px 0;
	}
}


//Sliders 

.sliders {
	color: $subcolor-font;
	text-align: center;
	padding: 0 15px;
	// height: 300px;
	&__img {
		height: 300px;
		overflow: hidden;
		width: 100%;
		// position: relative;
		&--h200 {
			height: 150px;
		}
		&--pos {
			width: 100%;
			// position: absolute;
			// top: 0;
			// left: -50%;
			// transform: translate(-50%, -50%);
		}

		// height: 300px;
	}
	&__name {
		font-weight: 600;
		font-size: 2.2rem;
		padding-top: 15px;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 8rem;       /* fallback */
	}
	&__proffession {
		
	}

}
svg path {
	// fill:inherit;
	stroke:inherit;
	stroke-width:inherit;
}
.tes {
	fill: rgb(204,204,204);
	stroke: rgb(204,204,204);
	&:hover {
	fill:rgb(2, 169, 243);
	stroke:rgb(2, 169, 243);
	cursor: pointer;
}
}
.arrow {
	&__left {
		position: absolute;
		left: -5%;
		top: 30%;		
	}
	&__right {
		position: absolute;
		right: -5%;
		top: 30%;
	}
}


.test2 {
	height: 300px;
	overflow: hidden;
}

//Section "Lets talk"

.lisp-lets {
	padding: 0;
	& li {
		display: flex;
		align-items: center;
		padding: 10px 0;
	}
	&__item {
		color: $subcolor-font;
		margin: 0;
		padding-left: 20px;
	}
}
.test1 {
	box-shadow: -10px 15px 20px 10px rgba(0,0,0, 0.1);
	border-radius: 50px;
}

//Footer 

.lisp {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		padding-bottom: 5px;
		& a {
			text-decoration: none;
		}		
	}
	&__social {
		padding: 0px 10px;

	}
}
.footer-line {
	position: relative;
	padding-top: 25px;
	&:after {
		content: '';
		// display: inline-block;
		background: $color-font;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0.7;
	}
}
.white {
	color: $color-font !important;
}


//Global class 
.h2-title {
	font-size: 4.6rem;
	font-weight: 400;
	color: $subcolor-font;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-bottom: 10rem;
	&--smallMargin {
		margin-bottom: 2.5rem;
	}
	&:before {
		content: '';
		display: inline-block;
		width: 72px;
		height: 4px;
		background: #ccdb39;
		position: absolute;
		bottom: -15px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.btn {
	background: linear-gradient(to right, #0067b5, #06a6df);
	color: $color-font;

	&:hover {
		opacity: 0.8;
	}
	&--width {
		width: 250px;
		// display: inline-block;
	}

}


.color-menu {
	color: $subcolor-font;
}
.none {
	display: none;
}
.size_zero {
	height: 0;
	margin: 0;
	padding: 0;
}